<ul class='nav-bar'>
  <li class='nav-link'>
    <%= link_to 'Author Agreement', author_agreement_documents_path %>
  </li>
  <li class='nav-link'>
    <%= link_to 'Book Manager Agreement', book_manager_agreement_documents_path %>
</ul>
